@model ProyFinalDESWB.Models.GrabarProducto

@{
    ViewData["Title"] = "GrabarProducto";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tT8huzUh94o0s1/XFfQv8UsjA9b8WdF4iFt9s=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

<h1>GrabarProducto</h1>

<h4>GrabarProducto</h4>
<hr />

<div class="row">
        <div class="col-md-4 mx-auto">
        <form asp-action="GrabarProducto" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="animal" class="control-label"></label>
                @Html.DropDownList("animal", (SelectList)ViewBag.Animales,
                "Seleccione", new { @class = "form-select" })
               
                <span asp-validation-for="animal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipocomi" class="control-label"></label>
                @Html.DropDownList("tipocomi", (SelectList)ViewBag.Tipos, 
                "Seleccione", new { @class = "form-select" })
                <span asp-validation-for="tipocomi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fotopro" class="control-label"></label>

                <input asp-for="fotopro"  type="file" class="form-control" />

            </div>
            <div class="form-group text-center mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />  |
                <a asp-action="ListadoProductos" class="btn btn-info">Listado</a>
            </div>
        </form>


    </div>
</div>







@if (!string.IsNullOrEmpty(ViewBag.MENSAJE as string))
{
    <div class="alert alert-info" role="alert">
        <p>@ViewBag.MENSAJE</p>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

